extends ../layouts/common.pug

block content
  .container
    h3.mb-3 Books
    ul.list-group
      a.list-group-item(href="/books/show") List books
      a.list-group-item(href="/books/search") Search books
      if (user && user.isAdmin === 'admin')
        a.list-group-item(href="/books/create") Create a new book