extends ../layouts/common.pug
block content
  .container
    h3 Update your books
    a.d-inline-block.mb-2(href="/books") Back
    
    if errors
      each err in errors
        .alert.alert-danger= err
    form(action=`/books/${updateBook.id}/update`, method="post")
      .form-group
        input.form-control(type='text', name="title", placeholder="Your new title", value=`${updateBook.title}`)
      .form-group
        input.form-control(type='text', name="desc", placeholder="Your new description", value=`${updateBook.desc}`)
      button.btn.btn-primary Update