h3 Update your books

a(href='/books') Back

form(action=`/books/${updateBook.id}/update`, method="post")
  div
    input(type='text', name="title", placeholder="Your new title", value=`${updateBook.title}`)
  div
    input(type='text', name="desc", placeholder="Your new description", value=`${updateBook.desc}`)
  button Update