extends ../../layouts/common.pug
block content
  div(class="container")
    h3 Update your books
    a(class="d-inline-block mb-2", href="/books") Back

    form(action=`/books/${updateBook.id}/update`, method="post")
      div(class="form-group")
        input(class="form-control", type='text', name="title", placeholder="Your new title", value=`${updateBook.title}`)
      div(class="form-group")
        input(class="form-control", type='text', name="desc", placeholder="Your new description", value=`${updateBook.desc}`)
      button(class="btn btn-primary") Update