html
  head
    link(rel="shorcut icon", type="img/png", href="/imgs/favicon.png")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/custom.css")
  body
    .container-fluid
      .row.bg-primary
        .col-3
          h2.text-white Library
        .col-9
          ul.nav.justify-content-end.collapse.navbar-collaps
            li.nav-item
              a.nav-link.text-white(href="/books") Books
            li.nav-item
              a.nav-link.text-white(href="/users") User
            li.nav-item 
              a.nav-link.text-white(href="/transactions") Transactions
    .container
      .pt-3
        block content