h3 Update your user

a(href='/user') Back

form(action='/user/update/result', method="get")
  input(type='text', name="name", placeholder="Your new name", value=`${updateUser.name}`)
  input(type='hidden', name="id", value=`${updateUser.id}`)
  button Update