html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/errors.css')
  body.d-flex.align-items-center.justify-content-center
    section
      .error-page.d-flex.align-items-center.justify-content-around
        h2.headline.text-danger 500
        .error-content
          h3 Oops! Something went wrong
          p.m-0 We will work on fixing that right away.You can 
            a(href="/") return to homepage.
