extends ../../layouts/common.pug
block content
  .container
    h3 Create new user
    a.d-inline-block.mb-2(href="/users") Back
    form(action="/users/create", method="post")
      .form-group
        input.form-control(type='text', name="name", placeholder="Your name")
      button.btn.btn-primary Create