extends ../../layouts/common.pug

block content
  div(class="container")
    h3 Users
    
    a(class="d-inline-block mb-2", href="/") Back
    
    ul(class="list-group")
      a(class="list-group-item", href="/users/show") List users
      a(class="list-group-item", href="/users/search") Search users
      a(class="list-group-item", href="/users/create") Create a new user