extends ../layouts/common.pug

block content
  .container
    h3.mb-3 Users
    ul.list-group
      a.list-group-item(href="/users/show") List users
      a.list-group-item(href="/users/search") Search users
      a.list-group-item(href="/users/create") Create a new user