extends ../../layouts/common.pug
block content
  .container
    h3 Seach your users
    a.d-inline-block.mb-2(href="/users") Back

    form(action="/users/search/result", method="get")
      .form-group.d-flex
        input.form-control.mr-2(type='text', name="name", placeholder="Your name")
        button.btn.btn-primary Search