extends ../../layouts/common.pug
block content
  .container
    h3 List user in library
    a.d-inline-block.mb-2(href="/users") Back

    table.table
      thead
        tr
          th ID 
          th Name
          th
      tbody
         each user in users
          tr
              th= user.id
              td= user.name
              td
                span &nbsp;
                a(href=`/users/${user.id}/delete`) Delete
                span 
                a(href=`/users/${user.id}/update`) Update