h3 List user in system
a(href="/users") Back
ul
  each user in users
    li= user.name
      span 
      a(href=`/users/${user.id}/delete`) Delete
      span 
      a(href=`/users/${user.id}/update`) Update