extends ../layouts/common.pug
block content
  .container
    h3 Update your user
    a.d-inline-block.mb-2(href="/users") Back

    form(action=`/users/${updateUser.id}/update`, method="post")
      .form-group
        input.form-control(type="text", name="name", placeholder="Your new name", value=`${updateUser.name}`)
      button.btn.btn-primary Update