extends ../layouts/common.pug
block content
  .container
    h3.mb-3 Transaction
    .list-group
      a.list-group-item(href="/transactions/show") List transaction
      a.list-group-item(href="/transactions/create") Create new transaction