h1 Todo List

ul
  each item in todoList
    li= item
    
form(action="/todos/search", method='get')
  input(type="text", name="q", placeholder="Nhập giá trị tìm kiếm")
  button= "Tìm kiếm"
  
form(action="/todos/create", method='post')
  input(type="text", name="todo", placeholder="Nhập giá trị thêm")
  button= "Thêm"